<h1>Accordion</h1>

<h2>Todos abertos</h2>

<div app-accordion [allOpened]="true">
  <details
    app-accordion-item
    ref="1"
    (opened)="log('opened, ref: ' + $event)"
    (closed)="log('closed, ref: ' + $event)"
  >
    <h3 app-accordion-item-heading>Título</h3>
    <section>
      <p>Conteúdo</p>
    </section>
  </details>
  <details
    ref="2"
    app-accordion-item
    (opened)="log('opened, ref: ' + $event)"
    (closed)="log('closed, ref: ' + $event)"
  >
    <h3 app-accordion-item-heading>Título</h3>
    <section>
      <p>Conteúdo</p>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi,
        quis volutpat erat hendrerit non. Nam vulputate dapibus.Nullam volutpat
        risus nec leo commodo, ut interdum diam laoreet. Sed non consequat
        odio.Paisis, filhis, espiritis santis.Mais vale um bebadis conhecidiss,
        que um alcoolatra anonimis.
      </p>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi,
        quis volutpat erat hendrerit non. Nam vulputate dapibus.Nullam volutpat
        risus nec leo commodo, ut interdum diam laoreet. Sed non consequat
        odio.Paisis, filhis, espiritis santis.Mais vale um bebadis conhecidiss,
        que um alcoolatra anonimis.
      </p>
    </section>
  </details>
</div>

<br />

<h2>Abertura alternada</h2>

<div app-accordion>
  <details
    app-accordion-item
    ref="1"
    (opened)="log('opened, ref: ' + $event)"
    (closed)="log('closed, ref: ' + $event)"
  >
    <h3 app-accordion-item-heading>Título</h3>
    <section>
      <p>Conteúdo</p>
    </section>
  </details>
  <details
    app-accordion-item
    ref="2"
    (opened)="log('opened, ref: ' + $event)"
    (closed)="log('closed, ref: ' + $event)"
  >
    <h3 app-accordion-item-heading>Título</h3>
    <section>
      <p>Conteúdo</p>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi,
        quis volutpat erat hendrerit non. Nam vulputate dapibus.Nullam volutpat
        risus nec leo commodo, ut interdum diam laoreet. Sed non consequat
        odio.Paisis, filhis, espiritis santis.Mais vale um bebadis conhecidiss,
        que um alcoolatra anonimis.
      </p>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi,
        quis volutpat erat hendrerit non. Nam vulputate dapibus.Nullam volutpat
        risus nec leo commodo, ut interdum diam laoreet. Sed non consequat
        odio.Paisis, filhis, espiritis santis.Mais vale um bebadis conhecidiss,
        que um alcoolatra anonimis.
      </p>
    </section>
  </details>
</div>

<br />
<hr />

<h3>Log de eventos</h3>

<ol>
  <li *ngFor="let log of eventLogs">{{ log }}</li>
</ol>
