:host {
  &:not(:last-of-type, :last-child) {
    border-bottom: 1px solid rgba(var(--accordion-color, 0, 0, 0), 0.4);
  }

  summary::marker {
    content: var(--accordion-icon-opened, "👉");
  }
  &[open] summary::marker {
    content: var(--accordion-icon-closed, "👇");
  }

  summary {
    padding-left: 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(var(--accordion-color, 0, 0, 0), 0.06);
  }
  &[open] summary {
    border-radius: 4px 4px 0 0;
    background-color: rgba(var(--accordion-color, 0, 0, 0), 0.1);
  }
}
